.create-campaign {
  width: 500px; /* Ajusta el ancho */
  margin: 0 auto;
  padding: 20px; /* Ajusta el padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.create-campaign label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Lobster', sans-serif; 
  font-size: 14px; 
  color: #000000; 
}

.create-campaign input,
.create-campaign select,
.create-campaign textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(95, 82, 82);
}

.create-campaign .period-group {
  display: flex;
  gap: 10px;
}

.create-campaign .period-group div {
  flex: 1;
}

.create-campaign button {
  padding: 8px 15px;
  background-color: #6d70f7;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(90, 82, 82);
  cursor: pointer;
}

.create-campaign .form-actions {
  display: flex;
  justify-content: space-between;
}

.create-campaign .form-actions button {
  margin-right: 10px;
}

.create-campaign .form-actions button:last-child {
  margin-right: 0;
}

.create-campaign .form-actions button:first-child {
  background-color: #ffffff;
}

.create-campaign select,
.create-campaign input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(95, 82, 82);
}