.table-container {
  padding: 0.5rem;
  background-color: #f8f5f5;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px; /* Asegura que ambas tablas tengan el mismo ancho máximo */
}

.campaign-table, .user-table {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1500px; /* Asegura que ambas tablas tengan el mismo ancho máximo */
  border-collapse: collapse;
  padding: 1rem;
}

.campaign-table th, .user-table th, .campaign-table td, .user-table td {
  padding: 1.5rem;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.campaign-table th, .user-table th {
  background-color: #f9fafb;
  font-weight: 600;
  color: #111827;
  font-size: 1.2rem;
}

.campaign-table td, .user-table td {
  color: #374151;
}

.campaign-table tbody tr:hover, .user-table tbody tr:hover {
  background-color: #f8fafc;
}

.campaign-table tbody tr:last-child td, .user-table tbody tr:last-child td {
  border-bottom: none;
}

@media (max-width: 768px) {
  .campaign-table, .user-table {
    font-size: 1rem;
  }
  
  .campaign-table th, .user-table th, .campaign-table td, .user-table td {
    padding: 1rem;
    white-space: nowrap;
  }
}
