.personal-data {
  width: 500px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  text-align: center;
}

.personal-data label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Lobster', sans-serif; 
  font-size: 14px; 
  color: #000000; 
  text-align: left;
  margin-left: 40px;
}

.personal-data input,
.personal-data select,
.personal-data textarea {
  width: 70%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(95, 82, 82);
}

.personal-data .data-group {
  display: flex;
  gap: 10px;
}

.personal-data .data-group div {
  flex: 1;
}

#description label{ 
  display: block;
  margin-bottom: 5px;
  font-family: 'Lobster', sans-serif; 
  font-size: 14px; 
  color: #000000; 
  text-align: left;
  margin-left: 60px;
}

#description {
  height: 100px;
  width: 84%;
  padding: 15px;
}


.personal-data button {
  padding: 8px 15px;
  background-color: #6d70f7;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 28px;
  box-shadow: 0 2px 4px rgb(90, 82, 82);
  cursor: pointer;
}

.personal-data .form-actions {
  display: flex;
  justify-content: space-between;
}

.personal-data .form-actions button {
  margin-right: 10px;
}

.personal-data .form-actions button:last-child {
  margin-right: 28px;
}

.personal-data .form-actions button:first-child {
  background-color: #ffffff;
}

.personal-data select,
.personal-data input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(95, 82, 82);
}
