    <table class="budget-table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Unidad</th>
                <th>Precio Unitario</th>
                <th>Subtotal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Producto 1</td>
                <td>21</td>
                <td>5</td>
                <td>21$</td>
                <td>105$</td>
                <td>
                    <button class="table_button" data-hover="Más opciones"><img src="./assets/other.svg" class="table__other"></button>
                    <button class="table_button" data-hover="Aprobar"><img src="./assets/check_p.svg" class="table__check_p"></button>
                    <button class="table_button" data-hover="Desaprobar"><img src="./assets/check_n.svg" class="table__check_n"></button>
                    <button class="table_button" data-hover="Editar"><img src="./assets/edit.svg" class="table__edit"></button>
                </td>
            </tr>
        </tbody>
    </table>

