<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widget Card</title>
    <link rel="stylesheet" href="widget.css">
    
</head>

<body>

    <div class="widget-turquesa">

        <div class="widget-leads">
            <img src="../imagen/usuario.png" alt="Logotipo" class="logo-widget-turquesa">
            <p>Total de Leads Generados</p>
            <h2>1,243</h2>
            <h6> +20.1% desde el último mes</h6>
        </div>

        <div class="widget-Conversion">
            <img src="../imagen/taza.png" alt="Logotipo" class="logo-widget-turquesa">
            <p>Taza de Conversion</p>
            <h2>12.5%</h2>
            <h6> +12.3% desde el último mes</h6>
        </div>

        <div class="widget-Marketing">
            <img src="../imagen/dolar.png" alt="Logotipo" class="logo-widget-turquesa">
            <p>ROI de marketing</p>
            <h2>345%</h2>
            <h6> +15% desde el último mes</h6>
        </div>

        <div class="widget-ingresos">
            <img src="../imagen/dolar.png" alt="Logotipo" class="logo-widget-turquesa">
            <p>Ingresos Totales</p>
            <h2>12.5%</h2>
            <h6> +12.3% desde el último mes</h6>
        </div>

        <div class="widget-gastos">
            <img src="../imagen/gastos.png" alt="Logotipo" class="logo-widget-turquesa">
            <p>Gastos Totales</p>
            <h2>12.5%</h2>
            <h6> +12,345.67% desde el último mes</h6>
        </div>

        <div class="widget-beneficio">
            <img src="../imagen/taza.png" alt="Logotipo" class="logo-widget-turquesa">
            <p>Margen de Beneficio</p>
            <h2>72.8%</h2>
            <h6> +12.3% desde el último mes</h6>
        </div>

    </div>    

            <!-- Widgets de Colot Azul -->

    <div class="widget-blue">

        <div class="widget-seguidores">
            <img src="../imagen/flecha.png" alt="Logotipo" class="logo-widget-blue">
            <h2>Total de Seguidores</h2>
            <p>3000</p>       
        </div>

        <div class="widget-total-interaciones">
            <img src="../imagen/flecha.png" alt="Logotipo" class="logo-widget-blue">
            <h2>Interacciones Totales</h2>
            <p>8000</p>       
        </div>

        <div class="widget-publicaciones-del-mes">
            <img src="../imagen/flecha.png" alt="Logotipo" class="logo-widget-blue">
            <h2>Publicaciones del Mes</h2>
            <p>33000</p>       
        </div>
        <div class="widget-mejor-publicacion">
            <img src="../imagen/flecha.png" alt="Logotipo" class="logo-widget-blue">
            <h2>Mejor Publicacion</h2>
            <p>15000</p>       
            <h3>Interacciones</h3>
        </div>
    </div>

</body>
</html>