<div class="new-post">
    <h3>Programar nueva publicación</h3>
    <form>
      <div class="form-group">
        <label for="payment-notes">Contenido</label>
        <textarea id="content" name="contents" placeholder="Contenido de la publicación" rows="4"></textarea>
      </div>
  
      <div class="form-group">
        <label for="post-date">Fecha de la publicación</label>
        <input type="date" id="post-date" name="post-date" />
      </div>
  
      <div class="form-group">
        <label for="platform">Plataforma</label>
        <input type="text" id="platform" name="platform" placeholder="Seleccione una plataforma" />
      </div>
  
  
      <div class="form-actions">
        <button type="button" class="cancel-button">Cancelar</button>
        <button type="submit" class="save-button">Guardar</button>
      </div>
    </form>
  </div>