<div class="update-employee">
  <form @submit.prevent="guardar">

    <div class="form-group">
    <div class="data-group">
      <div>
      <label for="image"></label>
      <input type="text" id="image" rows="4" required/>
      </div>
    <div class="form-actions">
      <button type="button" @click="Editar" id="editar">Editar</button>
      </div>
    </div>
  </div>

        <div class="form-group">
    <div class="data-group">
      <div>
      <label for="name">Nombre</label>
      <input type="text" id="name" placeholder="Nombre" required />
      </div>
      <div>
      <label for="last-name">Apellido</label>
      <input type="text" id="last-name" placeholder="Apelllido" required />
      </div>
    </div>
  </div>

    <div class="form-group">
    <div class="data-group">
      <div>
      <label for="birth-date">Fecha de Nacimiento</label>
      <input type="date" id="birth-date" required />
      </div>
      <div>
      <label for="id-card">Cédula</label>
      <input type="text" id="id-card" placeholder="Cédula" required />
      </div>
    </div>
  </div>

    <div class="form-group">
    <div class="data-group">

      <div>
      <label for="department">Departamento</label>
      <input type="text" id="department" placeholder="Departamento" required />
      </div>
      <div>
      <label for="email">Correo Electrónico</label>
      <input type="email" id="email" placeholder="Correo Electrónico" required />
      </div>
    </div>
  </div>

        <div class="form-group">
      <label for="Description">Descripción</label>
      <textarea id="description" name="description" placeholder="Descripción" rows="4"></textarea>
    </div>

    <div class="form-actions">
      <button type="submit">Guardar cambios</button>
    </div>

    <div class="form-actions">
     <button type="button" @click="Adjuntar">Adjuntar archivos</button>
     </div>

  </form>
</div>