<div class="Datatable-prosup">
    <nav class="menu">
        <section class="menu__container">
            <ul class="menu__links">

                <li class="search__box">
                    <i class="bx bx-search icon"></i>
                    <img src="./assets/search.svg" class="menu__search">
                    <input type="text" placeholder="Buscar por producto o proveedor">
                </li>

                <li class="menu__item"> 
                    <a href="#" class="menu__link">Categoria <img src="./assets/arrow.svg" class="menu-arrow"></a>
                    <ul class="menu__nesting">
                        <li class="menu__inside">
                            <a href="#" class="menu__link menu-link--inside">Opcion1</a>
                        </li>
                        <li class="menu-inside">
                            <a href="#" class="menu__link menu-link--inside">Opcion2</a>
                        </li>
                        <li class="menu-inside">
                            <a href="#" class="menu__link menu-link--inside">Opcion3</a>
                        </li>
                    </ul>
                </li>
    
                <li class="saved">
                    <img src="./assets/saved.svg" class="menu_saved">
                </li>

                <li class="archive">
                    <img src="./assets/archive.svg" class="menu_archive">
                </li>

                <li class="options">
                    <img src="./assets/options.svg" class="menu_options">
                </li>
    
            </ul>
        </section>

    </nav>

    <div class="container__table">
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Costo</th>
                    <th>Proveedor</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>21</td>
                    <td>21</td>
                    <td>21</td>
                    <td>21</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>21</td>
                    <td>21</td>
                    <td>21</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>21</td>
                    <td>21</td>
                    <td>21</td>
                    <td>21</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

