<div class="add-expenses">
  <h2>Agregar Nuevo Gasto</h2>
  <form>
    <div class="form-group">
      <label for="expense-description">Descripción</label>
      <input type="text" id="expense-description" name="expense-description" placeholder="Descripción del gasto" />
    </div>

    <div class="form-group">
      <label for="expense-category">Categoría</label>
      <select id="expense-category" name="expense-category">
        <option value="alquiler">xd</option>
        <option value="servicios">xd</option>
        <option value="materiales">xd</option>
      </select>
    </div>

    <div class="form-group">
      <label for="expense-amount">Monto:</label>
      <input type="number" id="expense-amount" name="expense-amount" placeholder="Monto del gasto" />
    </div>

    <div class="form-group">
      <label for="expense-provider">Proveedor</label>
      <input type="text" id="expense-provider" name="expense-provider" placeholder="Ingrese el nombre del proveedor" />
    </div>

    <div class="form-group">
      <label for="payment-method">Método de Pago</label>
      <select id="payment-method" name="payment-method">
        <option value="efectivo">Efectivo</option>
        <option value="tarjeta">Tarjeta</option>
        <option value="transferencia">Transferencia</option>
      </select>
    </div>

    <div class="form-group file-group">
      <label for="expense-receipt">Comprobante</label>
      <input type="file" id="expense-receipt" name="expense-receipt" accept="image/*" />
      <label for="expense-receipt" class="file-label">Subir Comprobante</label>
    </div>

    <div class="form-actions">
      <button type="button" class="cancel-button">Cancelar</button>
      <button type="submit" class="save-button">Guardar</button>
    </div>
  </form>
</div>